@font-face {
  font-family: 'goz';
  src: url('https://pinkromeo18.github.io/junk/DotGothic16-Regular.ttf') format('truetype');  
}

body{
  background:darkblue;
  color:white;
}

body{
  font-size:10px;
  -webkit-font-smoothing:none!important;
  font-family:"goz"!important;
  text-transform:uppercase!important;
  font-variant-east-asian: full-width!important;
  font-feature-settings: "fwid"!important;
  line-height:1.0!important;
}

*{font-family:"goz"!important;}

.x2{
  transform:scale(2);
  transform-origin:left top;  
}
.x3{
  transform:scale(3);
  transform-origin:left top;  
}
.x4{
  transform:scale(4);
  transform-origin:left top;  
}


.goz{background:black;width:320px;height:320px;position:relative;}
.goz canvas{color:white;background:black;width:100%;}
.goz div{position:absolute;top:0;left:0;white-space:pre-wrap;}
.goz div{
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}
  
